name: screentime
description: "Screen Time Tracking and Management Application"
publish_to: 'none'
version: 2.0.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  path_provider: ^2.1.5
  file_picker: ^10.3.8
  share_plus: ^12.0.1
  archive: ^3.6.1
  crypto: ^3.0.7
  
  # UI and Theming
  fluent_ui: ^4.13.0
  adaptive_theme: ^3.6.0
  flutter_svg: ^2.0.17

  # Windows-specific Utilities
  bitsdojo_window: ^0.1.6
  # launch_at_startup: ^0.3.1
  # system_tray: ^2.0.3
  tray_manager: ^0.5.2
  # windows_notification: ^1.3.0

  # Data Persistence and Preferences
  shared_preferences: ^2.5.2
  hive_flutter: ^1.1.0
  
  # Charts and Visualization
  fl_chart: ^1.1.1
  percent_indicator: ^4.2.4
  pie_chart: ^5.4.0
  
  # Utility Packages
  # package_info_plus: ^8.0.0
  intl: 0.20.2
  ffi: ^2.1.4
  provider: ^6.1.2
  url_launcher_windows: ^3.1.4
  # audioplayers: ^6.4.0
  # win32_registry: ^2.1.0
  url_launcher_platform_interface: ^2.3.2
  window_manager: ^0.5.1
  synchronized: ^3.3.1
  flutter_localization: ^0.3.3
  # launch_at_startup: ^0.4.0
  local_notifier:
    git:
      url: https://github.com/HarmanPreet-Singh-XYT/local_notifier
      ref: main
  window_focus:
    git:
      url: https://github.com/HarmanPreet-Singh-XYT/Window_focus
      ref: master
  url_launcher: ^6.3.2
  flutter_colorpicker: ^1.0.3
  audioplayers: ^6.5.1
  launch_at_startup: ^0.5.1
  excel: ^4.0.6
  # Native Code Interaction for Foreground Window
  # You'll need to implement a custom plugin or package
  # Placeholder for your native window tracking plugin
  # native_window_tracker:
  #   path: path/to/your/local/plugin

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  msix: ^3.16.8
  dmg: ^0.1.7

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/sounds/
  # plugin:
  #   platforms:
  #     macos:
  #       pluginClass: ForegroundWindowPlugin
   # Add more assets as needed
  # plugin:
  #   platforms:
  #     windows:
  #       pluginClass: ForegroundWindowPlugin

# # Platform-specific configuration
# platforms:
#   windows:
#     pluginClass: ForegroundWindowPlugin
msix_config:
  display_name: Scolect - Track Screen Time & App Usage
  languages: "en-us, zh-cn, hi-in, es-es, fr-fr, ar-sa, bn-bd, pt-br, ru-ru, ur-pk, id-id, ja-jp"
  startup_task:
    enabled: true
    parameters: --auto-launched
  publisher_display_name: Harmanita
  identity_name: Harmanita.TimeMark-TrackScreenTimeAppUsage
  msix_version: 2.0.0.0
  logo_path: C:\Code\Scolect-ScreenTimeApp\assets\icons\logo.png
  publisher: CN=5EB16640-AA72-4826-B8B0-95B5C4F31CF0
  store: true
  app_installer: #<-- app installer configuration
    publish_folder_path: C:\Projects\Scolect
    hours_between_update_checks: 0
    automatic_background_task: true
    update_blocks_activation: true
    show_prompt: true
    force_update_from_any_version: false